services:
  app:
    build:
      context: ./one-time_access_code_extractor
      dockerfile: Dockerfile
    ports:
      - "7226:7226"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    networks:
      - backend

networks:
  backend:
    external: true